<section *ngIf="showDetail">
  <app-details-table [detail]="detail" (close)="showDetail = false" />
</section>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <div class="flex items-center justify-between pb-4">
    <div class="py-2">
      <div class="w-auto flex gap-2 ml-1">
        <div class="relative max-w-sm">
          <input
            [(ngModel)]="date"
            type="date"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Busca por fecha"
          />
        </div>

        <div class="relative max-w-sm">
          <input
            [(ngModel)]="idEnterprise"
            type="number"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Id empresa"
          />
        </div>

        <div class="relative max-w-sm">
          <input
            [(ngModel)]="guide"
            type="number"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Guia"
          />
        </div>

        <button
          (click)="refreshTable()"
          [disabled]="date == '' && idEnterprise == '' && guide == ''"
          type="button"
          class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        >
          <span class="flex gap-1">
            <svg
              *ngIf="load"
              class="animate-spin -ml-1 h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            {{ btnText }}
          </span>
        </button>

        <!-- reload -->
        <button
          (click)="reload()"
          type="button"
          class="text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:focus:ring-yellow-900"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-clockwise"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"
            />
            <path
              d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"
            />
          </svg>
        </button>
      </div>
    </div>

    <label for="table-search" class="sr-only">Search</label>
    <div class="relative">
      <div
        class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
      >
        <svg
          class="w-5 h-5 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </div>
      <input
        type="text"
        [(ngModel)]="filter"
        (keyup)="page = 1"
        id="table-search"
        class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search for items"
      />
    </div>
  </div>
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Id Empresa</th>
        <th scope="col" class="px-6 py-3">Uuid</th>
        <th scope="col" class="px-6 py-3">Guia</th>
        <th scope="col" class="px-6 py-3">Operador</th>
        <th scope="col" class="px-6 py-3">Fecha</th>
        <th scope="col" class="px-6 py-3">Status</th>
        <th scope="col" class="px-6 py-3">Trama Cli</th>
        <th scope="col" class="px-6 py-3">Trama WS</th>
        <th scope="col" class="px-6 py-3">Respuesta WS</th>
        <th scope="col" class="px-6 py-3">Excepciones</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of data | filterShipmentTable : filter : page : length"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ item.idempresa }}
        </th>
        <td class="px-6 py-4">{{ item.uuid }}</td>
        <td class="px-6 py-4">{{ item.numGuia }}</td>
        <td class="px-6 py-4">{{ item.idtransportador }}</td>
        <td class="px-6 py-4">{{ item.fecha }}</td>
        <td class="px-6 py-4">{{ item.estado }}</td>
        <td
          class="px-6 py-4 cursor-pointer"
          (dblclick)="openDetail(item.trama)"
        >
          {{ item.trama | json | slice : 0 : 50 }}
        </td>
        <td
          class="px-6 py-4 cursor-pointer"
          (dblclick)="openDetail(item.trama_sw)"
        >
          {{ item.trama_sw | json | slice : 0 : 50 }}
        </td>
        <td
          class="px-6 py-4 cursor-pointer"
          (dblclick)="openDetail(item.respuesta)"
        >
          {{ item.respuesta | json | slice : 0 : 50 }}
        </td>
        <td
          class="px-6 py-4 cursor-pointer"
          (dblclick)="openDetail(item.excepciones)"
        >
          {{ item.excepciones | json | slice : 0 : 50 }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-footer-table
  [total]="
    filter
      ? (data | filterShipmentTable : filter : 1 : data.length).length
      : data.length
  "
  [page]="page"
  [limit]="length"
  (goToPage)="page = $event"
  (nextPage)="next()"
  (prevPage)="prev()"
/>
